{% load static %}
<!-- CSS Libraries -->
{% comment %} <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
<link href="{% static "assets/timeline/lib/animate/animate.min.css" %} " rel="stylesheet">
<link href="{% static "assets/timeline/css/style.css" %} " rel="stylesheet">


 <!-- Experience Start -->
<div class="experience" id="experience">
    <div class="container">
        <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>The 4 sinple steps</p>
            <h2>How it Works</h2>
        </header>
        <div class="timeline">
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date"><span style="font-size: 3em;"><i class="bi bi-alarm"></span></i></div>
                    <h2>Place Order/ Schedule Pickup</h2>
                    <p style="font-weight:400;">
                        You can schedule a pickup any day of the week using our online platform or by just texting 'NP' to our hotline number '+263771418380'.
                    </p>
                </div>
            </div>
            <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date"><span style="font-size: 3em;"><i class="bi bi-pin-map"></i></span></div>
                    <h2>Pickup</h2>
                    <p>
                        Once your pick is scheduled, a Washday driver will arrive with your free, personalized Washday bags to pickup your laundry.
                    </p>
                </div>
            </div>
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date"><span style="font-size: 3em;"><i class="bi bi-check2-circle"></i></span></div>
                    <h2>Professional Cleaning Care</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
                    </p>
                </div>
            </div>
            <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date"><span style="font-size: 3em;"><i class="bi bi-truck"></i></span>
                    </div>
                    <h2>Delivery</h2>
                    <p>
                        Your clean clothes come straight to your door, ready to wear or neatly store away. It's like getting a special delivery of freshness every time!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- timeline End -->

    <!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static "assets/timeline/lib/wow/wow.min.js" %} "></script>
<script src="{% static "assets/timeline/js/main.js" %} "></script>
